{% extends "userheaderfooter.html" %}
{% block content %}
<div class="w3l_banner_nav_right">
<!-- Profile Card -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/static/css/card.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<!-- top-brands -->
<div class="top-brands">
	<div class="container">
		<h3>Purchase Items</h3>
		<div class="agile_top_brands_grids">
			{% for x in productdata %}
			<div class="col-md-3 top_brand_left"> 
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<!-- <div class="tag"><img src="" alt=" " class="img-responsive" /></div> -->
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div class="snipcart-item block" >
									<div class="snipcart-thumb">
										<a href=""><img title=" " alt=" " src="/media/{{x.image}}" width="180px" height="180px" /></a>		
										<p>{{x.name}}</p>
										<h4>Rs.{{x.price}} <span>
												
										</span>
									</h4>
									</div>



									<div class="snipcart-details top_brand_home_details">
										<form action="/checkout/" method="POST">
											{% csrf_token %}
											<input type="hidden" name="productid" value="{{x.id}}" />
											<!-- <div class="quantity">
												<input type="number" min="1" max="9" step="1" value="1" name="count">
											  </div> -->
											<input type="submit" name="submit" value="Add to cart" class="button" />
										</form>
									</div>
								</div>
							</figure>
						</div>


						
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- //top-brands -->



<!-- //Profile Card -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->

<!-- newsletter-top-serv-btm -->
	<div class="newsletter-top-serv-btm">
		<div class="container">
			<div class="col-md-4 wthree_news_top_serv_btm_grid">
				<div class="wthree_news_top_serv_btm_grid_icon">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				</div>
				<h3>Nam libero tempore</h3>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
					saepe eveniet ut et voluptates repudiandae sint et.</p>
			</div>
			<div class="col-md-4 wthree_news_top_serv_btm_grid">
				<div class="wthree_news_top_serv_btm_grid_icon">
					<i class="fa fa-bar-chart" aria-hidden="true"></i>
				</div>
				<h3>officiis debitis aut rerum</h3>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
					saepe eveniet ut et voluptates repudiandae sint et.</p>
			</div>
			<div class="col-md-4 wthree_news_top_serv_btm_grid">
				<div class="wthree_news_top_serv_btm_grid_icon">
					<i class="fa fa-truck" aria-hidden="true"></i>
				</div>
				<h3>eveniet ut et voluptates</h3>
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus 
					saepe eveniet ut et voluptates repudiandae sint et.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter-top-serv-btm -->
{% endblock %}