{% extends "adminheaderfooter.html" %}
{% block content %}
		<div class="w3l_banner_nav_right">
<!-- mail -->

        <div class="mail">
			<h3>Add User</h3>
			<div class="agileinfo_mail_grids">
				
				<div class="col-md-12 agileinfo_mail_grid_right">
					<form action="/userregistration/" method="post">
						{% csrf_token %}
						<div class="col-md-12 wthree_contact_left_grid">
                            <input type="text" name="name" value="Name*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name*';}" required="">
						</div>
                        <div class="col-md-12 wthree_contact_left_grid">
                            <input type="email" name="email" value="E-Mail*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail*';}" required="">
						</div>
                        <div class="col-md-12 wthree_contact_left_grid">
                            <input type="text" name="password" value="Password*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password*';}" required="">
						</div>
                        <div class="col-md-12 wthree_contact_left_grid">
                            <input type="text" name="phone" value="Phone*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone*';}" required="">
						</div>
                        <div class="col-md-12 wthree_contact_left_grid">
                            <div class="col-md-4 wthree_contact_left_grid">
                                <label>Male</label>
                                <input type="radio" name="gender" value="male*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'male';}" required="">
                            </div>
                            <div class="col-md-4 wthree_contact_left_grid">
                                <label>Female</label>
                                <input type="radio" name="gender" value="female*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'female';}" required="">
                            </div>
                            <div class="col-md-4 wthree_contact_left_grid">
                                <label>Other</label>
                                <input type="radio" name="gender" value="other*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'other';}" required="">
                            </div>
                        </div>
                        <div class="col-md-12 wthree_contact_left_grid">
                            <input type="text" name="aadharnumber" value="Aadharnumber*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Aadharnumber*';}" required="">
						</div>
                        <div class="col-md-12 wthree_contact_left_grid">
                            <input type="text" name="rationcardnumber" value="Ration Card Number*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ration Card Number*';}" required="">
						</div>
						<div class="clearfix"> </div>
						<input type="submit" value="Submit">
						<input type="reset" value="Clear">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //mail -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->

{% endblock %}